:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    font-family: 'Lato', sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family:'Oswald', sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

/* filme principal*/
.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%) , url(/img/vftoquio.jpg);
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    font-size: 20px;
}

.titulo{
    margin-top: 10%;
    font-size: 30px;   
}

.button{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 12px;
    margin-right: 15px;

    cursor:pointer;
    transition: .5s ease all;

}

.button:hover{
    background-color: white;
    color: black;
}

.button i{
    margin-right: 5px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;

}